<% provide(:page_title, "My Cart") %>

<div class="row">
  <div class="col-md-8">

    <div class="basket-labels">
      <ul>
        <div class="row">
          <div class="col-6">
              <li class="item item-heading">Item</li>
          </div>
          <div class="col-2">
            <li class="price">Price</li>
          </div>
          <div class="col-2">
            <li class="quantity">Quantity</li>
          </div>
          <div class="col-2">
            <li class="subtotal">Subtotal</li>
          </div>
        </div>
      </ul>
    </div>

    <!-- products -->
    <% @cart_line_items.reload %> 
    <% @cart_line_items.each do |item| %>
      <div class="row my-2 product-row">
        <div class="col-3">
          <% product = item.product %>
          <%= link_to image_tag(product.image_url, size: '286x180', class: "img-fluid"), product%>
        </div>
        <div class="col-3">
          <h5><%= product.name %></h5>
          <p class="d-none d-sm-block"><%= strip_tags(product.description).truncate(40) %></p>
        </div>
        <div class="col-2">
          <p>$<%= product.converted_price %></p>
        </div>
        <div class="col-2">
          <%= item.quantity %><br>
          <div class="btn-toolbar" role="toolbar">
            <div class="btn-group mr-2" role="group" aria-label="Quantity group">
              <%= link_to '+', api_v1_carts_path(id: item.product.id), method: :post, class: "btn btn-outline-danger btn-sm" %>
              <%= link_to '-', api_v1_cart_path(item), method: :delete, class: "btn btn-outline-danger btn-sm" %>
            </div>
          </div>
        </div>
        <div class="col-2">
          <p>$<%= item.quantity * product.converted_price %></p>
        </div>
      </div>
    <% end %>

  </div>

  <!-- Render Aside Cart from partials -->
  <div class="col-md-4 mt-2">
    <%= render partial: "shared/aside_cart", locals: { checkout: true} %>

    <% if @cart.cart_line_items.count > 0 %>
      <%= form_with(url: '/payments/create', class: "mt-3 d-flex justify-content-center") do |form| %>
        <%= render partial: "shared/stripe_cart_checkout_button" %>
        <%= hidden_field_tag(:cart_id, @cart.id) %>
      <% end %>
    <% end %>
  </div>

</div>