<h1>Our Users</h1>

<% @users.each do |user| %>
  <div class="media mt-3">
    <% if user.avatar.attached? == false %>
      <%= image_tag('default_profile.png', size: "100x100", class: "mr-3") %>
    <% else %>
      <%= image_tag user.avatar.variant(resize: "100x100"), class: "mr-3" %>
    <% end %>
    <div class="media-body">
      <h5 class="mt-0"><%= user.last_name %>, <%= user.first_name %></h5>
      <%= user.email %><br />
      <% if user.admin %>
        <p>admin</p>
      <% end %>
    </div>
  </div>
<% end %>


