
<ul class="navbar-nav ml-auto">
    <li class="nav-item">
        <%= link_to "About", simple_pages_about_path, class:"nav-link #{yield(:about_active)}" %>
    </li>
    <li class="nav-item">
        <%= link_to "Contact", simple_pages_contact_path, class:"nav-link #{yield(:contact_active)}" %>
    </li>
    <li class="nav-item">
        <%= link_to "Products", products_path, class:"nav-link #{yield(:product_active)}" %>
    </li>
    <li class="nav-item">
        <%= link_to "New Product", new_product_path, class:"nav-link #{yield(:new_product_active)}" %>
    </li>
    <li class="nav-item">
        <%= link_to "My Orders", orders_path, class:"nav-link #{yield(:order_active)}" %>
    </li>
</ul>