<% if signed_in? %>
	<h4>Add Review</h4>
	<%= form_for([@product, @product.comments.build], remote: true) do |f| %>
		
		<div class="form-group"> 
	      <%= f.label :title, "Title" %><br>
	      <%= f.text_field :title, class: "form-control", required: true %>
	    </div>

		<div class="form-group">
	      <%= f.label :body, "Comments" %><br>
	      <%= f.text_area :body, rows: 5, class: "form-control", required: true %>
	    </div>

	    <div class="rating mb-2" data-score="1"></div>

	    <% if !current_user.confirmed? %>
			<h6 class="text-danger">You have to confirm your account to write reviews.</h6>
			<%= f.submit "Submit", class:"btn btn-success", disabled: true %>
		<% else %>
			<%= f.submit "Submit", class:"btn btn-success" %>
		<% end %>

	<% end %>
<% end %>