<p id="notice"><%= notice %></p>


<div class="margin-top-75">
  <div class="card mb-3">
    <% if Rails.application.assets(@product.image_url) == nil %>
      <%= image_tag("placeholder.jpg", size: '1108x180')%>
    <% else %>
      <%= image_tag(@product.image_url, size: '1108x180')%>
    <% end %>
    <div class="card-body">
      <h5 class="card-title"><%= @product.name %></h5>
      <p class="card-text"><%= @product.description %></p>
    </div>
    <ul class="list-group list-group-flush">
      <li class="list-group-item">Color: <%= @product.color ? @product.color : "Not specified" %></li>
      <li class="list-group-item">$ <%= @product.price ? @product.price : 0 %></li>
    </ul>
  </div>
  
  <%= link_to 'Edit', edit_product_path(@product) %> |
  <%= link_to 'Back', products_path %>
</div>



