<p id="notice"><%= notice %></p>


<div class="margin-top-75">
  <div class="card mb-3">
    <div class="product-show-img" style="background-image: url(<%= image_url(@product.image_url) %>);"></div>
    <div class="card-body">
      <h5 class="card-title"><%= @product.name %></h5>
      <p class="card-text"><%= @product.description %></p>
    </div>
    <ul class="list-group list-group-flush">
      <li class="list-group-item">Colour: <%= @product.colour ? @product.colour : "Not specified" %></li>
      <li class="list-group-item">$ <%= @product.price ? @product.price : 0 %></li>
    </ul>
  </div>
  
  <%= link_to 'Edit', edit_product_path(@product) %> |
  <%= link_to 'Back', products_path %>
</div>



